* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: fira Sans;
  margin: 5px;
}
.header {
  margin-top: 40px;
  width: 100%;
}

.navigation {
  display: flex;

  justify-content: space-between;
  padding: 5px;
  width: 90%;
  margin: 0 auto;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
  align-items: center;
}

.navigation a {
  text-decoration: none;
  color: #141414;
}

.introduction-container {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 230px;
  margin-top: 80px;

  justify-content: start;
}

.introduction-container h1 {
  font-weight: 700;
  font-size: 72px;
  padding-bottom: 0px;
  align-self: end;
  position: relative;
}

.clear {
  clear: both;
}
.introduction-container h1::before {
  display: block;
  width: 130px;
  height: 100px;
  content: "";
  background: url("/img/detalhe.svg");
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}

.introduction-container p {
  padding: 0px;
  margin-top: 50px;
}

.wolf {
  width: 360px;
  height: 520px;
}

.middle-container {
  width: 90%;
  height: 662px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;  
  /* border: 1px solid red; */
  height: 100%;
}

.middle-container h1 {
  font-size: 144px;
  line-height: 144px;
  width: 30%;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  color: #e0e0e0;
  text-transform: uppercase;
  display: inline-block;
  word-wrap: break-word;

}

.middle-container p {
  text-align: left;
  margin-top: 10px;
}

.title-experience {
  width: 20%;
}

.experience {
  width: 70%;
}

.middle-container h1 {
  font-size: 144px;
  line-height: 144px;
  height: 100%;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  color: #e0e0e0;
  text-transform: uppercase;
}

.middle-container p {
  text-align: left;
  margin-top: 10px;
}

.experience-per-year {
  width: 100%;
  display: flex;
  margin-top: 10px;
}

.experience p:first-child {
  width: 380px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: 60px;
}

.flex-inside-year {
  display: flex;
  background: #f5f5f5;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.detail-rectangle {
  height: 20px;
  width: 4px;
  margin-top: 10px;
}

.experience {
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
}

.brafe,
.surf-bot,
.bikcraft {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}
.experience-text {
  margin-left: 10px;
  width: 50%;
}
.year {
  margin-top: 10px;
  margin-right: 10px;
  white-space: nowrap;
}
.year-3 {
  margin-right: 31px;
}

.technologies {
  margin: 5px;
  background-color: #ffffff;
}

.role-description {
  margin-left: 30px;
  word-wrap: wrap;
} 


.formacao {
  margin-top: 100px;
  background: #141414;
  width: 100%;
  padding: 50px;
  display: flex;
  gap: 127px;
}

.formacao-title {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 144px;
  line-height: 144px;
  word-wrap: break-word;
}

.formacao-div {
  width: 45%;
}

.formacao-description {
  color: #a3a3a3;
  width: 90%;
  max-width: 523px;
  margin-bottom: 20px;
} 

 .insider-formacao-flex {
  display: flex;
  gap: 30px;
}
.white {
  color: #fff;
}

.formacao-box {
  width: 100%;
  height: 190px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #000000;
  border-radius: 5px;
  position: relative;
}

.formacao-box::before {
  content: url(/img/Rectangle-31.svg);
  position: absolute;
  left: -7px;
}
.diploma {
  color: #fff;
  margin-bottom: 40px;
}
.category {
  color: #a3a3a3;
  margin-bottom: 10px;
}
.university {
  margin-top: 20px;
  color: #a3a3a3;
  line-height: 25px;
}

.competencias{
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 58px;
}

.competencias div p:first-child {
  color: #8F8F8F;
  margin-bottom: 30px;
}

.competencias div p{
  color: #fff;
}

.competencias div p:nth-child(2){
  margin-bottom: 20px;
}
.nivel{
  color: #8F8F8F;
}

