* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: fira Sans;
  margin: 5px;
}
.header {
  margin-top: 40px;
  width: 100%;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 5px;
  width: 90%;
  margin: 0 auto;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
  align-items: center;
}

.navigation a {
  text-decoration: none;
  color: #141414;
}



.introduction-container {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 230px;
  margin-top: 80px;
  position: relative;
  justify-content: start;
}

.introduction-container h1 {
  font-weight: 700;
  font-size: 72px;
  padding-bottom: 0px;
  align-self: end;
}

.introduction-container h1::before {
  position: absolute;
  content: url("/img/detalhe.svg");
  z-index: -1;
  right: 545px;
  bottom: 400px;
}

.introduction-container p {
  padding: 0px;
 margin-top: 50px;
  
}

.wolf{
  width: 360px;
  height: 520px;
}


.middle-container {
  width: 90%;
  height: 662px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  gap: 100px;
  box-sizing: border-box;
  border: 1px solid red ;
}

.middle-container h1 {
  font-size: 144px;
  line-height: 144px;
  height: 100%;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  color: #e0e0e0;
  text-transform: uppercase;
  display: inline-block;
}

.middle-container p {
  text-align: left;
  margin-top: 10px;
}

.experience-per-year {
  width:90%;
  height: 140px;
  display: flex;
  box-sizing: border-box;
  margin-top: 10px;

 
  
}

.experience p:first-child{
  width: 380px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: 60px;
}

.flex-inside-year {
  display: flex;
  box-sizing: border box;
  background: #F5F5F5;  
  padding: 10px;
  width: 700px;
  border: 1px solid green;
}

.detail-rectangle {
  height: 20px;
  width: 4px;
  margin-top: 10px;
}


.experience {
  max-width: 750px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid blue;
}

.brafe,
.surf-bot,
.bikcraft{
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}
.experience-text{
  margin-left: 10px;
  width: 325px;
}
.year{
  margin-top: 10px;
  margin-right: 10px;
  white-space: nowrap;
}
.year-3{
  margin-right:31px;
}

.technologies{
  margin: 5px;
  background-color: #ffffff;
  
}

.role-description{
  margin-left: 30px;
}
