@media (max-width: 800px) {
  * {
    box-sizing: border-box;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .navigation ul {
    margin-left: 2px;
  }

  .introduction-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    width: 100%;
  }

  .introduction-img {
    align-self: center;
  }

  .introduction-title {
    align-self: center;
    word-wrap: break-word;
    width: 100%;
  }

  .middle-container {
    display: flex;
    flex-direction: column;
  }

  .div-experience {
    width: 300px;
    background: blue;
  }

  .title-experience {
    width: 100% !important;
    font-size: 50px !important;
    word-wrap: normal !important;
    padding: 30px;
  }
  .exprience {
    border: 1px solid gray;
    width: 100%;
  }

  .flex-inside-year {
    display: flex;
    flex-direction: column;
  }
  .flex-inside-year {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .insider-formacao-flex {
    display: flex;
    flex-direction: column;
  }

  .experience p:first-child {
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .occupation {
    display: none;
  }
  .role-description {
    margin-left: 0;
  }

  .bikcraft::before {
    content: "Desenvolvedor Junior";
    position: absolute;
    top: 20px;
  }

  .surf-bot::before {
    content: "Estagiário";
    position: absolute;
    top: 20px;
  }

  .brafe::before {
    content: "Voluntário";
    position: absolute;
    top: 20px;
  }

  .formacao {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px !important;
  }
  .formacao-title {
    width: 100%;
    font-size: 50px;
    word-wrap: normal;
  }

  .one-column-box {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
  }

  .footer-paragraph {
    width: 100%;
    height: 100%;
  }
  .double-flex {
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    justify-items: start;
  }
  .formacao::after{
    content: '';
    display: block;
    background: url(/img/detalhe.svg);  
    position: absolute;
    width: 130px;
    height: 100px;
    bottom: -50px;
  }
  .ultima-coisa {
    padding-bottom: 50px;
    text-align: center;
    margin-right: 55px;
  }

  .div-description{
    margin-bottom: 20px;
  }
  

}
